:root {
    --color-principal: #2E3440;
    --color-secundario: #3B4252;
    --blanco: #f1f1f4;
    --azul-uno: #216fbc;
    --azul-dos: #0b3d93;
    --azul-tres: #4f70af;
    --azul-cuatro: #122754;
    --azul-cinco: #080d28;
    --gris: #dfdfdf;
}

/* Fondo de partículas */
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background-color: var(--azul-cinco);
}

/* Márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 5px;
    color: var(--blanco);    
    font-family:cursive;
}

body{
    font-size: 35px;
    color: var(--blanco);
    font-weight: 500px;
    font-family:cursive;
}

/* Contenedor del logo */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--gris);
    flex-wrap: wrap;
}

.navbar-brand {
    display: flex; 
    align-items: center; 
}

.botonIniciar button {
    background-color: var(--azul-cuatro); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px; 
}

/* Hover effect for the button */
.botonIniciar button:hover {
    background-color: var(--azul-dos); /* Darker color when hovering */
}

/* Imagen del logo */
img.d-inline-block.align-text-top {
    width: 296px;
    height: 47px;
}

/* Texto centrado verticalmente y alineado a la izquierda */
.todotexto {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    height: calc(100vh - 90px); 
    padding: 2px;
    margin-top: 10px;
}

.texto {
    margin-left: 100px; 
}

/* Boton */
.boton button {
    background-color: var(--azul-cuatro); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el color de fondo y la sombra */    
}

/* Efecto de iluminación */
.boton button:hover {
    background-color: var(--azul-dos); /* Al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
}

/* Estilo del botón */
button {
    background-color: var(--azul-cuatro); 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--azul-dos);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo de los textos */
h1 {
    font-size: 35px;    
    color: var(--blanco);
    font-weight: 500;
}

p {
    font-size: 25px;
}

.custom-file-upload {
    background-color: var(--azul-cuatro); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 22px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el color de fondo y la sombra */
    margin-bottom: 10px; /* Espacio entre el label y el input */   
}

.custom-file-upload:hover {
    background-color: var(--azul-dos); /* Al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
}

.container1 {
    position: absolute;
    right: 170px; /* Espacio desde el borde derecho de la página */
    top: 62%; /* Sitúa el contenedor en la mitad de la altura de la página */
    transform: translateY(-50%); /* Ajusta el contenedor al centro vertical */
    text-align: center;
}
    
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionConvertir {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 1px; /* Espacio entre los elementos */
    margin-top: 10px; /* Espacio superior para separación adicional si es necesario */
}
















