{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMO</title>

    <link rel="stylesheet" href="{% static './css/particles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
</head> 
<body>
  
    <div id="particles-js"></div>

    <div class="container">
      <a class="navbar-brand" href="https://www.colvatel.com/">
      <img src="./static/img/Logo_colvatel.png" alt ="Logo" width="85" height="70" class="d-inline-block align-text-top"></a>
      <a class="botonIniciar" href="/admin"><button>Ingresar</button></a>
    </div>

    <div class="todotexto">
      <div class="texto">
        <h1>PMO 
        <p>
        Hola, somos la gestión documental de Colvatel.
        </p>  
      
        <div class="container1">
          <div class="titulo">

              <h1>Convierte tu Excel en Json</h1>
              <div class="funcionConvertir">
                <form method="post" enctype="multipart/form-data" action="{% url 'upload_excel' %}">
                  {% csrf_token %}
                  <label for="file-upload" class="custom-file-upload">
                      Subir Archivo
                  </label>
                  <input id="file-upload" type="file" name="file" required>
                  <button type="submit">Convertir</button>
              </form>
              </div>
          </div>
      </div>  
        
    <script>
    const header = document.querySelector("header");
    const hamburgerBtn = document.querySelector("#hamburger-btn");
    const closeMenuBtn = document.querySelector("#close-menu-btn");

      // Toggle mobile menu on hamburger button click
    hamburgerBtn.addEventListener("click", () => header.classList.toggle("show-mobile-menu"));

      // Close mobile menu on close button click
    closeMenuBtn.addEventListener("click", () => hamburgerBtn.click());
    </script>

    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/animacion.js' %}"></script>
    
</body>
</html>